@page "/eq-matching"
@layout MainLayoutMatching

<PageTitlePat Title="SMP (Equipment Matching) - Dashboard" />

<BreadcrumbMatching Paths="@Paths" />


<div class="col-sm-12 m-0 p-0">
    <div class="display-4 jumbotron">
        Equipment Matching Dashboard Data coming soon!
    </div>
</div>