@page "/holistic"
@layout MainLayoutHolistic

<PageTitlePat Title="SMP (Holistic Sites) - Dashboard" />

<BreadcrumbHolistic Paths="@Paths" />


<div class="col-sm-12 m-0 p-0">
    <div class="display-4 jumbotron">
        Holistic Dashboard Data coming soon!
    </div>
</div>