@page "/eq-ordering"
@layout MainLayoutOrdering

<PageTitlePat Title="SMP (Equipment Ordering) - Dashboard" />

<BreadcrumbOrdering Paths="@Paths" />


<div class="col-sm-12 m-0 p-0">
    <div class="display-4 jumbotron">
        Equipment Ordering Dashboard Data coming soon!
    </div>
</div>