@page "/live"
@layout MainLayoutLive

<PageTitlePat Title="SMP (Live Sites) - Dashboard" />

<BreadcrumbLive Paths="@Paths" />


<div class="col-sm-12 m-0 p-0">
    <div class="display-4 jumbotron">
        Live Sites Dashboard Data coming soon!
    </div>
</div>