<div class="form-check">
    <input class="form-check-input" id="@($"Claim{Index}")" checked="@Claim.IsSelected" type="checkbox" @onchange="CheckboxChanged" />
    <label class="form-check-label" for="">@Claim.ClaimName</label>
</div>
