@using Project.V1.DLL.Interface;
@using Project.V1.DLL.Services.Interfaces;
@using Project.V1.DLL.Helpers
@using System.Security.Claims;
@using Serilog

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="dashboard">Site Halt & Unhalt</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="halt" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        @if (Principal.HasClaim(x => x.Type == "Can:AddRequest"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="halt/request" Match="NavLinkMatch.All">
                    <span class="oi oi-battery-empty" aria-hidden="true"></span> New Request
                </NavLink>
            </li>
        }
        @if (Principal.HasClaim(x => x.Type == "Can:ReworkRequest"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="halt/worklist" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span> My Worklist
                </NavLink>
            </li>
        }
        @if (Principal.HasClaim(x => x.Type == "Can:UpdateRequest"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="halt/engineer/worklist" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span> Engineer Worklist
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link expand-menu" style="cursor: pointer;" @onclick="() => expandReportNav = !expandReportNav">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>
                <span class="w-100 d-flex flex-row align-items-center">
                    Reports
                    @if (!expandReportNav)
                    {
                        <i class="oi oi-chevron-right text-right ml-auto"></i>
                    }
                    else
                    {
                        <i class="oi oi-chevron-bottom text-right ml-auto"></i>
                    }
                </span>
            </NavLink>
            <ul class="nav flex-column">
                @if (expandReportNav)
                {
                    @if (Principal.HasClaim(x => x.Type == "Can:ViewReport"))
                    {
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="halt/reports/general" Match="NavLinkMatch.All">
                                <span class="fas fa-chart-bar mr-2" aria-hidden="true"></span> General
                            </NavLink>
                        </li>
                    }
                }
            </ul>
        </li>

        @if (Principal.HasClaim(x => x.Type == "Can:ManageSetupSH"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link expand-menu" style="cursor: pointer;" @onclick="() => expandManageNav = !expandManageNav">
                    <span class="oi oi-cog" aria-hidden="true"></span>
                    <span class="w-100 d-flex flex-row align-items-center">
                        Manage
                        @if (!expandManageNav)
                        {
                            <i class="oi oi-chevron-right text-right ml-auto"></i>
                        }
                        else
                        {
                            <i class="oi oi-chevron-bottom text-right ml-auto"></i>
                        }
                    </span>
                </NavLink>
                <ul class="nav flex-column">
                    @if (expandManageNav)
                    {
                        @if (Principal.HasClaim(x => x.Type == "Can:ManageSetupSA"))
                        {
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="halt/setup" Match="NavLinkMatch.All">
                                    <span class="oi oi-task" aria-hidden="true"></span> Setup
                                </NavLink>
                            </li>
                        }
                    }
                </ul>
            </li>
        }

        <li class="nav-item px-3 pb-0">
            <NavLink class="nav-link" href="identity/account/logout" Match="NavLinkMatch.All">
                <span class="oi oi-power-standby" aria-hidden="true"></span>
                <span class="w-100 d-flex flex-row align-items-center">
                    Logout
                </span>
            </NavLink>
        </li>
    </ul>
</div>