@using Project.V1.DLL.Interface;
@using Project.V1.DLL.Services.Interfaces;
@using Project.V1.DLL.Helpers
@using System.Security.Claims;
@using Serilog

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="hud">Halt | Unhalt | Decom</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hud" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        @if (Principal.HasClaim(x => x.Type == "Can:AddRequest"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hud/request" Match="NavLinkMatch.All">
                    <span class="oi oi-battery-empty" aria-hidden="true"></span> New Request
                </NavLink>
            </li>
        }
        @if (Principal.HasClaim(x => x.Type == "Can:ReworkRequest"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hud/worklist" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span> My Worklist <span class="e-badge ml-2">@HUDRejectedWorklistCount</span>
                </NavLink>
            </li>
        }
        @if (Principal.HasClaim(x => x.Type == "Can:ApproveHUD"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hud/approver/worklist" Match="NavLinkMatch.Prefix" @onclick="HandleReloadClick">
                    <span class="oi oi-box" aria-hidden="true"></span> Approve Request
                </NavLink>
            </li>
        }
        @if (Principal.HasClaim(x => x.Type == "Can:UpdateRequest"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hud/engineer/worklist" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span> Engineer Worklist
                </NavLink>
            </li>
        }
        @if (Principal.HasClaim(x => x.Type == "Can:ViewReport"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hud/reports/general" Match="NavLinkMatch.Prefix">
                    <span class="fas fa-chart-bar mr-2" aria-hidden="true"></span> Report
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hud/reports/ssc" Match="NavLinkMatch.Prefix">
                    <span class="fas fa-chart-bar mr-2" aria-hidden="true"></span> Completion Report
                </NavLink>
            </li>
        }

        <li class="nav-item px-3 pb-0">
            <NavLink class="nav-link" href="identity/account/logout" Match="NavLinkMatch.All">
                <span class="oi oi-power-standby" aria-hidden="true"></span>
                <span class="w-100 d-flex flex-row align-items-center">
                    Logout
                </span>
            </NavLink>
        </li>
    </ul>
</div>