@inherits LayoutComponentBase
@*@layout MainLayout*@

<style type="text/css">
    .top-row {
        height: unset !important;
    }
</style>

<div class="page vh-100">
    <div class="sidebar zoom h-auto">
        <NavMenuAcceptance />
    </div>

    <div class="main zoom overflow-auto">
        <div class="top-row auth">
            <LoginDisplay />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
