@page "/halt/reports/general"
@layout MainLayoutHalt

<PageTitlePat Title="SMP (Site Halt & Unhalt) - Report" />

<div class="col-sm-12 m-0 p-0" style="background: url('images/worklist-black.jpg'); background-size: cover; background-position: center right;">
    <div class="display-4 text-white" style="padding: 4rem 2rem;">
        Site Halt & Unhalt Report
    </div>
</div>

<BreadcrumbAccess OnAuthenticationCheck="AuthenticationCheck" Paths="@Paths" />

<style type="text/css">
    .miniTable {
        min-height: 150px;
        margin-bottom: 20px;
    }

    #UserTable, #UserTable_header_table {
        /*table-layout: unset !important;*/
    }

    .e-dlg-overlay {
        opacity: .8 !important;
    }
</style>

@*@if (Requests == null)
{
    <PageLoading />
}
else
{

}*@